<ul class="collection without-header" *ngIf="messages.length > 0">
  <li class="collection-item dismissable" *ngFor="let message of messages">
      <pre style="font-size: small">{{ message | json }}</pre>
  </li>
</ul>
<br><br>
