    <form class="col s12"  (ngSubmit)="onSubmit()" #prospectForm="ngForm">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" name="first_name" [(ngModel)]="prospect.firstName">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" name="last_name" [(ngModel)]="prospect.lastName">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="email" [(ngModel)]="prospect.email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row center">
        <button type="submit" class="btn-large waves-effect waves-light orange" [disabled]="!prospectForm.form.valid">Pub me</button>
      </div>
    </form>